.title{
  font-size: 43px;
}
.container{
  box-sizing: border-box;
  width: 100vw;
  margin: 0 auto;
  padding: 30px;
  height: 100vh;
}

.sub-container{
  height: 75vh;
  width: 100%;
}

.input-wrapper{
  display: flex;
}

.input{
  border: none;
  font-size: 14px;
  height: 25px;
  width: 100%;
}
.todo-item{
  justify-items: space-between;
}
.close-icon{
  align-self: center;
}

.delAll{
  color: grey;
  font-size: 14px;
  text-align: right;
}