.title{
  font-size: 43px;
  user-select: none;
}
.container{
  box-sizing: border-box;
  width: 90vw;
  margin: 0 auto;
  padding: 30px;
  height: 100vh;
}

.sub-container{
  height: 75vh;
  width: 100%;
}

.input-wrapper{
  display: flex;
}

.input{
  border: none;
  font-size: 14px;
  height: 25px;
  width: 100%;
}
.todo-item{
  justify-items: space-between;
}
.close-icon{
  align-self: center;
}



.delAll{
  color: grey;
  font-size: 14px;
  text-align: right;
  user-select: none;
}

.delAll:hover{
  cursor: pointer;
}

input {
  outline: none;
  cursor: pointer;
}

input:focus,
input:active {
  border-color: transparent;
  border-bottom: 0.75px solid rgb(255, 160, 6)
}

.checkbox {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid white;
  box-shadow: 0 0 0 1.5pt rgb(255, 160, 6);
  appearance: none;
  -webkit-appearance: none;

  cursor: pointer;
}
.checkbox:checked {
  background-color: rgb(255, 160, 6);
}